<div class="content" role="main">

  <div class="card border border-primary rounded flex-grow-1 h-auto text-dark flex-column m-4 px-3 py-3">

    <p>
      This tool finds the highest priced options that can be combined as a debit spread (buy an option, sell a more OTM option) with a net debit price at or very close to zero.
    </p>
    <br />

    <h4>
      Screened Tickers
    </h4>

    <table class="table table-bordered border-primary" bordered="true">

      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center text-wrap flex-grow-1 ">Large Caps</th>
          <th scope="col" class="text-center text-wrap flex-grow-1 ">Growth Stocks</th>
          <th scope="col" class="text-center text-wrap flex-grow-1 ">ETFs</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <ng-container *ngIf="rowsInTickerTable > 0">
          <ng-container *ngFor="let rowIndex of arrayOfRowIndicies">
            <tr scope="row">

              <ng-container>
                <td>{{largecapTickers[rowIndex]}}</td>
              </ng-container>

              <ng-container>
                <td>{{growthStockTickers[rowIndex]}}</td>
              </ng-container>

              <ng-container>
                <td>{{etfTickers[rowIndex]}}</td>
              </ng-container>

            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>

    <br/>
    
    <h4>
      Debbies Right Now...
    </h4>

    <table class="table table-bordered border-primary" bordered="true">

      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center text-wrap">Ticker</th>
          <th scope="col" class="text-center text-wrap">Expiration Date</th>
          <th scope="col" class="text-center text-wrap">DTE</th>
          <th scope="col" class="text-center text-wrap">Total Prem</th>
          <th scope="col" class="text-center text-wrap">Net Debit</th>
          <th scope="col" class="text-center text-wrap">Higher Strike</th>
          <th scope="col" class="text-center text-wrap">Lower Strike</th>
          <th scope="col" class="text-center text-wrap">Underlying Price</th>
          <th scope="col" class="text-center text-wrap">Spread Type</th>
          <th scope="col" class="text-center text-wrap">ITM</th>
        </tr>
      </thead>

      <tbody class="text-center">

        <ng-container *ngFor="let analyzedDebitSpread of analyzedDebitSpreads">

          <tr scope="row" [ngClass]="{'red-row' : analyzedDebitSpread.spreadType === 'PUTS', 'green-row': analyzedDebitSpread.spreadType === 'CALLS'}">
            <td>{{analyzedDebitSpread.symbol}}</td>
            <td>{{analyzedDebitSpread.expirationDate}}</td>
            <td>{{analyzedDebitSpread.expirationDaysLeft}}</td>
            <td>{{+analyzedDebitSpread.totalPremiumSum.toFixed(2)}}</td>
            <td>{{analyzedDebitSpread.midpointDifference.toFixed(3)}}</td>
            <td>{{+analyzedDebitSpread.higherStrike}}</td>
            <td>{{analyzedDebitSpread.lowerStrike}}</td>
            <td>{{+analyzedDebitSpread.underlyingPrice.toFixed(0)}}</td>
            <td>{{analyzedDebitSpread.spreadType}}</td>
            <td>{{ ((analyzedDebitSpread.spreadType === 'CALLS' && +analyzedDebitSpread.underlyingPrice > +analyzedDebitSpread.higherStrike) || (analyzedDebitSpread.spreadType === 'PUTS' && +analyzedDebitSpread.underlyingPrice < +analyzedDebitSpread.lowerStrike)) ? 'x' : '' }}</td>
            
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>

  <br />


  <br />




  <br />
  <br />
  <br />
  <br />

</div>