<div class="content" role="main">

  <div class="card border border-primary rounded flex-grow-1 h-auto text-dark flex-column m-4 px-3 py-3">

    <p>
      This tool finds the highest priced options that can be combined as a debit spread (buy an option, sell a more OTM option) with a net debit price at or very close to zero.
    </p>
    <br />

    <h4>
      Screened Tickers...
    </h4>

    <table class="table table-bordered border-primary" bordered="true">

      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center text-wrap">Large Caps</th>
          <th scope="col" class="text-center text-wrap">ETFs</th>
          <th scope="col" class="text-center text-wrap">High V's</th>
          <th scope="col" class="text-center text-wrap">Meme Stonks</th>
          <th scope="col" class="text-center text-wrap">Best In Class</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <ng-container *ngIf="rowsInTickerTable > 0">
          <ng-container *ngFor="let rowIndex of arrayOfRowIndicies">
            <tr scope="row">

              <ng-container *ngIf="largecapTickers.length > rowIndex">
                <td>{{largecapTickers[rowIndex]}}</td>
              </ng-container>

              <ng-container *ngIf="etfTickers.length > rowIndex">
                <td>{{etfTickers[rowIndex]}}</td>
              </ng-container>

              <ng-container *ngIf="memeStonkTickers.length > rowIndex">
                <td>{{memeStonkTickers[rowIndex]}}</td>
              </ng-container>

              <ng-container *ngIf="bestInClassTickers.length > rowIndex">
                <td>{{bestInClassTickers[rowIndex]}}</td>
              </ng-container>

            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>

    <br/>
    
    <h4>
      Debbies Right Now...
    </h4>

    <table class="table table-bordered border-primary" bordered="true">

      <thead class="thead-dark">
        <tr>
          <th scope="col" class="text-center text-wrap">Ticker</th>
          <th scope="col" class="text-center text-wrap">Spread Type</th>
          <th scope="col" class="text-center text-wrap">Total Prem</th>
          <th scope="col" class="text-center text-wrap">Net Debit</th>
          <th scope="col" class="text-center text-wrap">Expiration Cycle</th>
          <th scope="col" class="text-center text-wrap">Higher Strike</th>
          <th scope="col" class="text-center text-wrap">Lower Strike</th>
          <th scope="col" class="text-center text-wrap">Underlying Price</th>
        </tr>
      </thead>

      <tbody class="text-center">

        <ng-container *ngFor="let analyzedDebitSpread of analyzedDebitSpreads">

          <tr scope="row">
            <td>{{analyzedDebitSpread.symbol}}</td>
            <td>{{analyzedDebitSpread.spreadType}}</td>
            <td>{{+analyzedDebitSpread.totalPremiumSum.toFixed(2)}}</td>
            <td>{{analyzedDebitSpread.midpointDifference.toFixed(3)}}</td>
            <td>{{analyzedDebitSpread.expirationCycle}}</td>
            <td>{{+analyzedDebitSpread.higherStrike}}</td>
            <td>{{analyzedDebitSpread.lowerStrike}}</td>
            <td>{{+analyzedDebitSpread.underlyingPrice}}</td>
            
          </tr>
        </ng-container>
      </tbody>
    </table>

  </div>

  <br />


  <br />




  <br />
  <br />
  <br />
  <br />

</div>